.closeButton {
  line-height: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  background: white;
  appearance: none;
  outline: 0;
  border: none;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
}

.closeButton > svg {
  width: 16px;
  height: 16px;
}

.closeButton:focus,
.closeButton:hover {
  background: black;
}

.closeButton:focus > svg,
.closeButton:hover > svg {
  fill: white;
}

.closeButton:focus {
  outline: none;
}

.link {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.link:hover,
.link:focus {
  background-color: black;
  color: white;
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  color: black;
  background: white;
  /* background: linear-gradient(
    95deg,
    rgba(237, 248, 255, 1) 0%,
    rgba(242, 250, 245, 1) 64%,
    rgba(255, 245, 255, 1) 100%
  ); */
  border: none;
  border: solid 2px black;
  padding: 0;
  margin: 10px;
  transition: opacity 200ms ease-in;
  opacity: 0;
  overflow: hidden;
  max-height: 50vh;
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 157, 0.1);
}

.header {
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  flex-shrink: 0;
  overflow: hidden;
  flex-wrap: nowrap;
}

.content {
  margin: 0;
  padding: 0 20px 20px;
  overflow: auto;
}

.headerTitle,
.text,
.disclaimer {
  font-family: sans-serif;
  color: black;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding: initial;
  margin: initial;
}

.headerTitle {
  font-size: 16px;
  font-weight: bold;
  font-variant-caps: small-caps;
  font-feature-settings: 'smcp';
}

.text {
  font-size: 16px;
  padding-top: 10px;
}

.disclaimer {
  padding-top: 10px;
  font-size: 12px;
}
